---
import { getIcon } from '../../config/icons';
import { getFileById } from '../../config/index';

const defaultFile = getFileById('home');
---

<header class="menu sticky top-0 z-200 flex w-full h-14 items-center bg-[#050a10]/95 border-b border-(--color-skyBlue)/30 font-jetbrains-mono lg:ml-64 lg:h-14 lg:w-[calc(100%-16rem)]">
	<div class="flex items-center w-full h-full">
		<div
			class="menu-tab active flex items-center gap-2 h-full px-4 text-sm border-r border-(--color-skyBlue)/15 transition-colors duration-150"
		>
			<span id="menu-tab-icon" class="h-3.5 w-3.5 flex shrink-0" style={`color: ${defaultFile.iconColor}`} set:html={getIcon(defaultFile.icon)} />
			<span id="menu-tab-filename" class="text-white/90 whitespace-nowrap">{defaultFile.filename}</span>
		</div>
		<div class="flex-1"></div>
	</div>
</header>

<style>
	.menu-tab {
		background: transparent;
		border-bottom: 2px solid transparent;
		text-decoration: none;
	}
	.menu-tab.active {
		background: color-mix(in srgb, var(--color-skyBlue) 8%, transparent);
		border-bottom-color: var(--color-skyBlue);
	}
	.menu-tab:hover {
		background: color-mix(in srgb, var(--color-skyBlue) 12%, transparent);
	}
</style>
